Repository Talus-Network/nexus-sdk, pull requests merged in 2025-05, with the labels that each got.

#149 Feat/tool walrus tool 1.endpoint is upload json
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/walrus/client.rs
  sdk/src/walrus/models/blob.rs
  sdk/src/walrus/models/mod.rs
  sdk/src/walrus/models/storage.rs
  sdk/src/walrus/models/sui.rs
  sdk/tests/walrus_client_test.rs
  tools/storage-walrus/Cargo.toml
  tools/storage-walrus/README.md
  tools/storage-walrus/src/client.rs
  tools/storage-walrus/src/main.rs
  tools/storage-walrus/src/upload_json.rs
Labels: enhancement, nexus-tool

#85 [nexus-tool] social tool batch #2 (4.1.5)-> GET /2/tweets - Lookup tweets by ID
  tools/social-twitter/README.md
  tools/social-twitter/src/error.rs
  tools/social-twitter/src/main.rs
  tools/social-twitter/src/tweet/get_tweets.rs
  tools/social-twitter/src/tweet/mod.rs
  tools/social-twitter/src/tweet/models.rs
  tools/social-twitter/src/twitter_client.rs
Labels: enhancement, nexus-tool

#164 Better terminal rendering + batch tool register
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/display.rs
  cli/src/main.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_register.rs
  docs/cli.md
  toolkit-rust/src/runtime.rs
Labels: enhancement, cli

#87 [nexus-tool] social tool batch #2 (4.1.3)-> DELETE /2/users/:id/retweets/:tweet_id - Undo a retweet
  tools/social-twitter/README.md
  tools/social-twitter/src/main.rs
  tools/social-twitter/src/tweet/mod.rs
  tools/social-twitter/src/tweet/models.rs
  tools/social-twitter/src/tweet/undo_retweet_tweet.rs
Labels: enhancement, nexus-tool

#173 Beekeeping: `conf` proper verbs + flatten PTB templates interface
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_publish.rs
  cli/src/display.rs
  cli/src/gas/gas_add_budget.rs
  cli/src/main.rs
  cli/src/prelude.rs
  cli/src/tool/tool_claim_collateral.rs
  cli/src/tool/tool_register.rs
  cli/src/tool/tool_unregister.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/tool.rs
Labels: enhancement, cli, sdk

#88 [nexus-tool] social tool batch #2 (4.1.4)-> DELETE /2/users/:id/likes/:tweet_id - Unlike a tweet
  tools/social-twitter/README.md
  tools/social-twitter/src/main.rs
  tools/social-twitter/src/tweet/mod.rs
  tools/social-twitter/src/tweet/models.rs
  tools/social-twitter/src/tweet/unlike_tweet.rs
Labels: enhancement, nexus-tool

#89 [nexus-tool] social tool batch #2 (4.1.6) -> GET /2/tweets/search/recent - Search recent tweets
  Cargo.lock
  tools/social-twitter/Cargo.toml
  tools/social-twitter/README.md
  tools/social-twitter/src/error.rs
  tools/social-twitter/src/main.rs
  tools/social-twitter/src/tweet/get_recent_search_tweets.rs
  tools/social-twitter/src/tweet/mod.rs
  tools/social-twitter/src/tweet/models.rs
Labels: enhancement, nexus-tool

#90 [nexus-tool] social tool batch #2 (4.1.7)-> GET /2/tweets/counts/recent - Get tweet counts for a query in the last 7 days
  tools/social-twitter/README.md
  tools/social-twitter/src/main.rs
  tools/social-twitter/src/tweet/get_recent_tweet_count.rs
  tools/social-twitter/src/tweet/mod.rs
  tools/social-twitter/src/tweet/models.rs
Labels: enhancement, nexus-tool

#179 Save tool owner caps in conf
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/gas/gas_expiry_disable.rs
  cli/src/gas/gas_expiry_enable.rs
  cli/src/gas/mod.rs
  cli/src/prelude.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_claim_collateral.rs
  cli/src/tool/tool_register.rs
  cli/src/tool/tool_set_invocation_cost.rs
  cli/src/tool/tool_unregister.rs
  docs/cli.md
Labels: enhancement, cli

#180 Crypto module for nexus sdk
  CHANGELOG.md
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/crypto/double_ratchet.rs
  sdk/src/crypto/mod.rs
  sdk/src/crypto/session.rs
  sdk/src/crypto/x3dh.rs
  sdk/src/lib.rs
Labels: enhancement, sdk, crypto

#192 Prekey vault events, idents and PTBs
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/tool/tool_new.rs
  sdk/Cargo.toml
  sdk/src/crypto/x3dh.rs
  sdk/src/events.rs
  sdk/src/idents/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/crypto.rs
  sdk/src/transactions/mod.rs
  sdk/src/types/nexus_objects.rs
Labels: enhancement, sdk
