Repository Talus-Network/nexus-sdk, pull requests merged in 2025-06, with the labels that each got.

#195 Remove automated faucet calls
  CHANGELOG.md
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_publish.rs
  cli/src/gas/gas_add_budget.rs
  cli/src/gas/gas_expiry_buy_ticket.rs
  cli/src/gas/gas_expiry_disable.rs
  cli/src/gas/gas_expiry_enable.rs
  cli/src/network/network_create.rs
  cli/src/sui.rs
  cli/src/tool/tool_claim_collateral.rs
  cli/src/tool/tool_register.rs
  cli/src/tool/tool_set_invocation_cost.rs
  cli/src/tool/tool_unregister.rs
Labels: bug, cli

#174 feat: add code of conduct
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  README.md
Labels: documentation

#212 Remove --encrypt and move this definition onchain
  CHANGELOG.md
  cli/src/dag/_dags/both_vertex_and_entry_vertex_invalid.json
  cli/src/dag/_dags/branched_net_zero_invalid.json
  cli/src/dag/_dags/cyclic_invalid.json
  cli/src/dag/_dags/dead_ends_valid.json
  cli/src/dag/_dags/encrypted_port_output_valid.json
  cli/src/dag/_dags/entry_groups_ne_invalid.json
  cli/src/dag/_dags/entry_groups_tm_invalid.json
  cli/src/dag/_dags/entry_groups_twice_valid.json
  cli/src/dag/_dags/entry_groups_valid.json
  cli/src/dag/_dags/has_def_on_input_invalid.json
  cli/src/dag/_dags/ig_story_planner_valid.json
  cli/src/dag/_dags/immediately_converges_invalid.json
  cli/src/dag/_dags/immediately_converges_valid.json
  cli/src/dag/_dags/intertwined_invalid.json
  cli/src/dag/_dags/intertwined_valid.json
  cli/src/dag/_dags/math_branching.json
  cli/src/dag/_dags/math_branching_groups.json
  cli/src/dag/_dags/multiple_entry_multiple_goal_invalid.json
  cli/src/dag/_dags/multiple_entry_multiple_goal_valid.json
  cli/src/dag/_dags/multiple_goals_valid.json
  cli/src/dag/_dags/multiple_output_ports_invalid.json
  cli/src/dag/_dags/multiple_output_ports_valid.json
  cli/src/dag/_dags/output_and_edge_invalid.json
  cli/src/dag/_dags/references_non_existing_vertex.json
  cli/src/dag/_dags/trip_planner.json
  cli/src/dag/_dags/undefined_connections_invalid.json
  cli/src/dag/dag_execute.rs
  cli/src/dag/mod.rs
  cli/src/dag/validator.rs
  cli/src/utils/secrets/master_key.rs
  docs/cli.md
  docs/guides/dag-construction.md
  docs/guides/llm-openai-chat-prep-tool.md
  docs/guides/math-branching-dag-builder.md
  docs/guides/math-branching-dag-entry.md
  docs/guides/math-branching-with-chat.md
  sdk/src/idents/primitives.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/json_dag.rs
Labels: cli, sdk

#225 chore: replace sap occurrences with tap
  CHANGELOG.md
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/sui.rs
  sdk/src/idents/mod.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/nexus_objects.rs
Labels: cli, sdk
